body {
    margin: 0;
    padding: 0;
    background: url(content/bg.jpg) no-repeat;
    background-size: cover;
    background-color: #30303d;
}
.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.55);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: "Garamond", sans-serif;
}
.box-img {
    border-radius: 50%;
    width: 300px;
    height: 200.5px;
    border: solid white 1px;
}
.box h1 {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 500;
}
.box h5 {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
}
.box p {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
}
ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid white;
}
.box li {
    display: inline-block;
    margin: 25px;
    list-style: none;
}
.box li a {
    color: white;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}